@model IEnumerable<WebStore.Domain.Entities.Employee>

@{
    ViewData["Title"] = "Список сотрудников";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <hr />
    <a asp-action = "Edit" class = "btn btn-success" > Добавить </a>
    <hr/>
    <table class = "table table-bordered">
        @foreach ( var item in Model)
        {
            <tr>
                <td><a asp-action = "Edit" asp-route-id = "@item.Id" ><i class = "fa
fa-edit" ></i></a></td>
                <td> @item.Name </td>
                <td> @item.Surname </td>
                <td> @item.Patronymic </td>
                <td> @item.Age </td>
                <td><a asp-action = "EmployeeDetails"
                       asp-route-id = "@item.Id" > Детали </a></td>
                <td><a asp-action = "Delete" asp-route-id = "@item.Id" ><i class = "fa
fa-cut" ></i></a></td>
            </tr>
        }
    </table>
</div>